*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .category{
    background: url(./images/bg1.jpg) no-repeat fixed center / cover;
    text-align: center;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .category-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  
  }
  .item{
    width: 400px;
    height: 400px;
    background-color: rgba(234, 221, 202,0.5);
    border-radius: 50%;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 0.6s ease;
  }
  .item:hover{
    transform: translateY(20px);
  }

  .searchedMeal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
  }
  .searchedMeal img{
    height: 300px;
    width: 300px;
    border-radius: 50%;

  }
  header{
    color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 8rem;
    position: fixed;
    width: 100%;
    top: 0;
  }
  .pop{
    background-color: red;
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 85%;
    right: 5px;
    z-index: 1;
  }
  .pop a img{
    height: 60%;
    width: 60%;
  }